/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
 */


/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
 
    --animate-fade-out: fade-out 4s ease-in-out forwards;
 
    @keyframes fade-out {
        0%, 70% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            pointer-events: none;
        }
    }
} */


@import "tailwindcss";

/* Your custom styles here (optional) */
@layer base {
    /* base overrides if needed */
}

@layer components {
    /* custom components */
}

@layer utilities {
    /* custom utilities */
}